html
  head
    <link rel="stylesheet" type="text/css" href="../assets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Ribeye+Marrow" rel="stylesheet">
  body
    
    <div id="container">
      <div class="Title1"> Wondering </div>
      <div class="Title2"> Where To Eat? </div>
      <div class="Title1"> Just choose the images and we will recommend
    restaurants for you using Machine Learning algorithms! </div>

  	 <div id="login">
  				<div class="TitleM">Please enter your email to access personal recommendations:</div>
  				<input type="text" class="content" placeholder="example@email.com">
  				<div class="button" id="submit">Log in</div>
  	  </div>
    </div>

    <div id="background">
      <div id="background-overlay"></div>
    </div>    
    
