body {
  background-color: #ffe8d8;
}
h1{
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.title{
  margin-left: 2%;
  font-size: 15pt;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4px;
}

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; 
  text-align: center;
  }

  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; 
    }

  ul.thumbnails.image_picker_selector li {
    overflow: hidden;
    margin: 4px 9px 4px 9px;
    float: left;
    width: 24%;
    height: 25vh;
    }

  /* for 768px or less */
  @media screen and (max-width: 768px) {
        ul.thumbnails.image_picker_selector li {
      width: 45%;
    }
    .container {
      margin-left: 6% !important;
      margin-right: 6% !important;
    }
    .right {
      margin-right: 8% !important;
    }
  }

  /* for 480px or less */
  @media screen and (max-width: 480px) {
    ul.thumbnails.image_picker_selector li {
      width: 95%;
    }
    .container {
      margin-left: 0% !important;
      margin-right: 0% !important;
    }
    #footer {
      height: 20% !important;
    }
    .btn-success{
      width: 100%;
    }
    .btn-info{
      width: 100%;
    }
    .btn-danger{
      width: 100%;
    }
    .btn-primary{
      width: 100%;
    }
    .buttons {
      margin-left: 15% !important;
      margin-right: 15% !important;
    }
  }
  
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 5px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; 
      overflow: hidden;
      position: relative;
      height: 100%;
      }
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none;
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        max-width: initial;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: green;
      }
    ul.thumbnails.image_picker_selector li .thumbnail.selected img {
      filter: brightness(30%);
    }
    
.image-picker {
  display: none;
 }

.picker {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
} 
.right {
  position:relative;
  float:right;
  margin-right: 25%;
}
.right-btn {
  position:relative;
  float:right;
  margin-right: 18%;
}
.top {
    margin-top: 25px;
}
.clear {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
     font-size: 9pt;
}
.clear:hover {
    color: white;
    border-bottom:1px solid white;
}
.submit {
  padding: 6px 20px 6px 20px;
  border: none;
  border-radius: 4px;
  color: white;
}
.done {
  margin-right: 5px;
}
.back {
  margin-left: 2%;
  background:none!important;
   color:inherit;
   border:none; 
   padding:0!important;
   font: inherit;
   border-bottom:1px solid #444; 
   cursor: pointer;
}
.container {
  margin-left: 14%;
}

/*--------------------------------------------*/

/* CAROUSEL */
.carousel-container {
  width: 55%;
  margin: auto;
  height: 90%;
  overflow: hidden;
  position: relative;
}

#carousel {
  width: 4800px;
  height: 90%;
  margin-left: 0px;
  -webkit-transition: all 0.3s;
}

.carousel-item {
  width: 960px;
  position: relative;
  height: 90%;
  float: left;
}
.carousel-item img{
  width: 100%;
}
.section {
  width: 100%;
  height: 70vh;
  position: relative;
}
.img-scaled {
  width: 100%;
  height: 100%;
}
.img-scaled-wh {
  width: 100%;
  height: 100%;
  position: relative;
}
.page-wrapper {
  margin-top: 10px;
  height: 65vh;
  width: 100%;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  overflow: auto;
  padding-bottom: 2%;
}
/* Styling for the carousel previous button */
#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 10px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}
/* Styling for the carousel next button */
#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 10px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

#footer {
  position: absolute;
  background-color: #341e5a;
  bottom: 0px;
  height: 7.5%;
  left: 0px;
  right: 0px;
  overflow: hidden;
  padding: 8px;
}
.buttons {
  margin-left: 28%;
  margin-right: 25%;
}
